* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  min-height: 1000px; }

html {
  scroll-behavior: smooth; }

/* header*/
header {
  background: url(../img/fondo2.jpg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }

nav {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1; }

nav ul {
  position: relative;
  float: right;
  margin: 0;
  padding-right: 42px; }

nav ul li {
  position: relative;
  display: inline-block;
  padding: 10px; }

nav ul li a {
  position: relative;
  font-size: 20px;
  padding: 7px 30px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  line-height: 60px; }

header a:hover {
  color: #00BCD4; }

.nav__logo img {
  height: 97px;
  float: left;
  padding: 8px;
  position: sticky;
  border-radius: 15%; }

nav.black {
  background: #0097A7; }

.nav__label {
  float: right;
  line-height: 95px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#menu {
  display: none; }

.banner {
  position: static;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.banner h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em; }

.banner h2 span {
  color: #00BCD4; }

/* /header*/
/* about*/
.sec {
  background: #0097A7;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.sec .content {
  position: static;
  text-align: center;
  width: 100%; }

.mxw800p {
  max-width: 800px;
  margin: 0 auto; }

.h3General {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #fff; }

p {
  position: static;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff; }

.carta {
  color: #000; }

.btn {
  position: static;
  display: inline-block;
  padding: 10px 30px;
  background: black;
  text-decoration: none;
  color: #fff; }

/* about*/
/* servicios*/
.services {
  position: static;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px; }

.services .box {
  width: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05); }

.services .box .iconBx {
  margin-top: 25px; }

.services .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px; }

.services .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700; }

/* servicios*/
/* stats*/
.stats {
  background: #000;
  padding-top: 250px;
  margin-top: -250px; }

.stats h3,
.stats p {
  color: #fff; }

.statsBox {
  position: static;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px; }

.statsBox h2 {
  color: #fff;
  font-size: 36px; }

.statsBox h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* stats*/
/* portfolio*/
.workBx {
  position: static;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px; }

.workBx .brand {
  position: static;
  background: url(../img/fondo3.jpg);
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.workBx .brand:hover {
  background: #000; }

.workBx .brand a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px; }

.workBx .brand:hover a {
  color: white; }

/* portfolio*/
/* equipo*/
.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px; }

.teamBx .member {
  position: relative;
  background: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: 0.2s;
  opacity: 0; }

.teamBx .member:hover .details {
  opacity: 1; }

.teamBx .member .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px; }

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300; }

/* equipo*/
/* contacto*/
.contac {
  background: #000; }

.contac h3,
.contac p {
  color: #fff; }

.contacForm {
  position: static;
  max-width: 800px;
  margin: 0 auto;
  display: flex; }

.contacForm form {
  width: 100%; }

.contacForm .row100 {
  display: flex;
  width: 100%; }

.contacForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px; }

.contacForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px; }

.contacForm .row100 input,
.contacForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none; }

.contacForm .row100 textarea {
  height: 100px; }

.contacForm .row100 input::placeholder,
.contacForm .row100 textarea::placeholder {
  color: rgba(255, 255, 255, 0.5); }

.contacForm .row100 input[type="submit"] {
  max-height: property;
  max-width: property;
  max-width: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500; }

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0; }

.sci ul {
  display: flex; }

.sci ul li {
  list-style: none; }

.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px; }

.sci ul li a img {
  filter: invert(1);
  max-width: 30px; }

.sci ul li a:hover img {
  opacity: 0.5; }

.copyright a {
  color: #fff;
  text-decoration: none; }

/* contacto*/
@media (max-width: 992px) {
  /* nav*/
  nav {
    background: #0097A7;
    z-index: 1;
    height: 95px; }
  .nav__label {
    display: block;
    cursor: pointer;
    position: relative; }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #0097A7;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav__menu ul li a {
    color: #fff;
    grid-auto-flow: column;
    text-decoration: none;
    line-height: 110px;
    font-weight: bold;
    padding: auto;
    padding-left: 120px; }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); }
  .nav__logo img {
    height: 95px;
    float: left;
    padding: 7px;
    position: sticky;
    border-radius: 15%;
    z-index: 1; }
  /* /nav*/
  .contacForm .row100 input,
  .contacForm .row100 textarea {
    position: static; }
  .sci ul li a {
    position: static;
    display: flex;
    align-items: center; }
  .teamBx {
    position: relative; }
  .banner {
    background-position: center; }
  .banner h2 {
    font-size: 60px;
    padding: 0 50px; }
  .sec {
    padding: 100px 50px 50px 50px; }
  .services .box {
    width: 100%; }
  .stats {
    padding-top: 250px; }
  .row100 {
    flex-direction: column; }
  .contacForm.row100.inputBx50,
  .contacForm.row100.inputBx100 {
    width: 100%;
    margin: 0; } }
